/*general*/

body {
    padding: 10% 0;
    text-align: center;
}

/*header*/

header{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
    padding: 30px 0;
}

header h1 {
    font-size: 3rem;
    margin: 0;
}

/*paragraph section*/

.text-area {
    display: flex;
    justify-content: center;
    align-content: center;  
    flex-direction: column; 
}

.text-area p {
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.7rem;
    margin: 0;
}

.incorrect {
    text-decoration: underline;
}

.active {
    border-radius: 2px;
}

.paragraph span{
    position: relative;
    transition: 0.5s;
}

/*result display*/

#result-area {
    display: flex;
    justify-content: center;
    width: 100%;
}

input {
    opacity: 0;
    position: absolute;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 50%;
    justify-content: center;
}

#result-area li{
    width: 30%;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

li p {
    margin-bottom: 0;
}

/*restart*/

.ui {
    display: flex;
    justify-content: center;
}

.ui p {
    font-size: 32px;
    font-family:'Roboto Mono', monospace;
    margin: 0;
}

.ui button {
    font-size: 32px;
    background-color: #c5b29a;
    border: none;
    color: #4a4a4a;
}

.ui button:hover {
    font-size: 32px;
    border: none;
    border-radius: 3px;
}

.ui button:focus {
    font-size: 32px;
    border-style: none;
    border-radius: 3px;
}

.caps-lock {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.7rem;
    margin: 0;
}

.caps-lock p {
    width: 250px;
    border-radius: 2px;
}

.change-color-theme {
    font-size: 15px;
    transition: 0.3s
}

.change-color-theme:hover {
    font-size: 25px;
    cursor: pointer;
}